# Importing Dpendencies

In [39]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Loading Data

In [40]:
df= pd.read_csv(r'C:\Users\Administrator\Desktop\WIKI-PRICES.csv')
data= pd.read_csv(r'C:\Users\Administrator\Desktop\WIKI-PRICES.csv')

In [41]:
df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
0,ZUMZ,3/27/2018,24.65,24.65,23.3500,23.60,403884,0.0,1,24.65,24.65,23.3500,23.60,403884
1,ZUMZ,3/26/2018,23.75,24.80,23.7000,24.65,375320,0.0,1,23.75,24.80,23.7000,24.65,375320
2,ZUMZ,3/23/2018,23.55,24.20,23.4500,23.55,301584,0.0,1,23.55,24.20,23.4500,23.55,301584
3,ZUMZ,3/22/2018,23.90,24.35,23.3000,23.35,269607,0.0,1,23.90,24.35,23.3000,23.35,269607
4,ZUMZ,3/21/2018,23.80,24.60,23.6058,23.95,354092,0.0,1,23.80,24.60,23.6058,23.95,354092

Data Information

In [42]:
df.shape

(7482, 14)

In [43]:
df.isnull().sum()

ticker         0
date           0
open           0
high           0
low            0
close          0
volume         0
ex-dividend    0
split_ratio    0
adj_open       0
adj_high       0
adj_low        0
adj_close      0
adj_volume     0
dtype: int64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7482 entries, 0 to 7481
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticker       7482 non-null   object
 1   date         7482 non-null   object
 2   open         7482 non-null   float64
 3   high         7482 non-null   float64
 4   low          7482 non-null   float64
 5   close        7482 non-null   float64
 6   volume       7482 non-null   int64
 7   ex-dividend  7482 non-null   float64
 8   split_ratio  7482 non-null   int64
 9   adj_open     7482 non-null   float64
 10  adj_high     7482 non-null   float64
 11  adj_low      7482 non-null   float64
 12  adj_close    7482 non-null   float64
 13  adj_volume   7482 non-null   int64
dtypes: float64(9), int64(3), object(2)
memory usage: 760.0+ KB

In [45]:
df.tail()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
7477,ZQK,1/8/2004,17.80,17.89,17.45,17.69,370100,0.0,1,8.900,8.945,8.725,8.845,740200
7478,ZQK,1/7/2004,17.75,17.85,17.45,17.70,399100,0.0,1,8.875,8.925,8.725,8.850,798200
7479,ZQK,1/6/2004,17.70,17.91,17.61,17.75,458900,0.0,1,8.850,8.955,8.805,8.875,917800
7480,ZQK,1/5/2004,17.52,17.97,17.26,17.71,750100,0.0,1,8.760,8.985,8.630,8.855,1500200
7481,ZQK,1/2/2004,17.77,17.99,17.58,17.60,330800,0.0,1,8.885,8.995,8.790,8.800,661600

In [46]:
df.columns

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'],
      dtype='object')

# Data PreProcessing

In [47]:
df=df.drop(['ticker', 'date'], axis = 1 )

In [48]:
df.shape

(7482, 12)

In [49]:
df['HL_PCT'] = df.adj_high - df.adj_low

In [50]:
df['HL_PCT'] = df.HL_PCT / df.adj_close

In [51]:
df['HL_PCT'] = df.HL_PCT * 100

In [52]:
df['HL_PCT']

0       5.508475
1       4.462475
2       3.184713
3       4.496788
4       4.151148
          ...
7477    2.487281
7478    2.259887
7479    1.690141
7480    4.009034
7481    2.329545
Name: HL_PCT, Length: 7482, dtype: float64

In [53]:
df.head()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,HL_PCT
0,24.65,24.65,23.3500,23.60,403884,0.0,1,24.65,24.65,23.3500,23.60,403884,5.508475
1,23.75,24.80,23.7000,24.65,375320,0.0,1,23.75,24.80,23.7000,24.65,375320,4.462475
2,23.55,24.20,23.4500,23.55,301584,0.0,1,23.55,24.20,23.4500,23.55,301584,3.184713
3,23.90,24.35,23.3000,23.35,269607,0.0,1,23.90,24.35,23.3000,23.35,269607,4.496788
4,23.80,24.60,23.6058,23.95,354092,0.0,1,23.80,24.60,23.6058,23.95,354092,4.151148

In [54]:
df['PCT_Change']= df.adj_open - df.adj_close

In [55]:
df['PCT_Change']= df.PCT_Change / df.adj_open

In [56]:
df['PCT_Change']= df.PCT_Change * 100

In [57]:
df['PCT_Change']

0       4.259635
1      -3.789474
2       0.000000
3       2.301255
4      -0.630252
          ...
7477    0.617978
7478    0.281690
7479   -0.282486
7480   -1.084475
7481    0.956669
Name: PCT_Change, Length: 7482, dtype: float64

In [58]:
df.head()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,HL_PCT,PCT_Change
0,24.65,24.65,23.3500,23.60,403884,0.0,1,24.65,24.65,23.3500,23.60,403884,5.508475,4.259635
1,23.75,24.80,23.7000,24.65,375320,0.0,1,23.75,24.80,23.7000,24.65,375320,4.462475,-3.789474
2,23.55,24.20,23.4500,23.55,301584,0.0,1,23.55,24.20,23.4500,23.55,301584,3.184713,0.000000
3,23.90,24.35,23.3000,23.35,269607,0.0,1,23.90,24.35,23.3000,23.35,269607,4.496788,2.301255
4,23.80,24.60,23.6058,23.95,354092,0.0,1,23.80,24.60,23.6058,23.95,354092,4.151148,-0.630252

# Train Test Split

In [59]:
#df.to_numpy()

In [60]:
x= df.drop(['close'], axis= 1)
y= df['close']

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state= 42)

Scaling

In [62]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

# Model Building

In [63]:
from sklearn.linear_model import LinearRegression
model= LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [64]:
y_pred= model.predict(x_test)

In [65]:
y_pred

array([32.42535702,  9.6568561 , 15.85860325, ..., 20.87676257,
        3.34707239, 13.44572567])

# Accuracy 99.9%

In [66]:
acc= model.score(x_test,y_test)
print('model accuracy =', acc)

model accuracy = 0.9999937481694745

In [67]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
mse= mean_squared_error(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
print('mean squared error=',mse)
print('mean absolute error=', mae)

mean squared error= 0.001595603037272549
mean absolute error= 0.013731205042398912

In [68]:
df.head()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,HL_PCT,PCT_Change
0,24.65,24.65,23.3500,23.60,403884,0.0,1,24.65,24.65,23.3500,23.60,403884,5.508475,4.259635
1,23.75,24.80,23.7000,24.65,375320,0.0,1,23.75,24.80,23.7000,24.65,375320,4.462475,-3.789474
2,23.55,24.20,23.4500,23.55,301584,0.0,1,23.55,24.20,23.4500,23.55,301584,3.184713,0.000000
3,23.90,24.35,23.3000,23.35,269607,0.0,1,23.90,24.35,23.3000,23.35,269607,4.496788,2.301255
4,23.80,24.60,23.6058,23.95,354092,0.0,1,23.80,24.60,23.6058,23.95,354092,4.151148,-0.630252

In [69]:
data['date'] = pd.to_datetime(data['date'])

In [70]:
data['date_year'] = data['date'].dt.year

data.sample(5)

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,date_year
2851,ZUMZ,2006-11-24,28.20,28.490,27.95,28.04,61700,0.0,1,28.200000,28.490000,27.950000,28.040000,61700,2006
2721,ZUMZ,2007-06-05,38.51,39.570,38.48,39.57,620100,0.0,1,38.510000,39.570000,38.480000,39.570000,620100,2007
3628,ZTS,2016-09-14,50.42,50.830,50.35,50.55,3544356,0.0,1,50.035152,50.442022,49.965686,50.164159,3544356,2016
2777,ZUMZ,2007-03-15,38.95,40.250,38.06,39.56,2615200,0.0,1,38.950000,40.250000,38.060000,39.560000,2615200,2007
1840,ZUMZ,2010-12-01,32.47,33.129,31.10,31.57,1090900,0.0,1,32.470000,33.129000,31.100000,31.570000,1090900,2010